__pycache__/
*.py[cod]
*.so

.DS_Store
.ipynb_checkpoints/

*.log
logs/
logs_*/
eval_results/
eval_results_*/
outputs/
output_models/
wandb/
*.tar
*.tar.gz

UniICL-760K/*/*_train_icl.json
UniICL-760K/*/*_train_icl.jsonl
UniICL-760K/*/*_uniicl.jsonl
UniICL-760K/*/parquet_*/
UniICL-760K/images/
UniICL-760K/image_archives/
UniICL-Bench/Fast-Concept-Mapping/images/
UniICL-Bench/Chain-of-Editing/images/
UniICL-Bench/eval_results*/
UniICL-Bench/logs*/
